<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
    <main>
        <div class="console console--active" id="app">
        </div>
    </main>
    <script type="importmap">
        {
            "imports": {
                "ramda/": "https://unpkg.com/ramda@0.30.1/es/",
                "impure": "./impure.mjs",
                "proto": "./proto.mjs",
                "console": "./console.mjs",
                "user": "./user.mjs",
                "events": "./events.mjs",
                "utils": "./utils.mjs",
                "proto/com.joav": "./proto-es-bundle.js",
                "protobufjs/light": "./protobufjs-light-wrapper.mjs"
            }
        }
    </script>
    <script type="module" src="/index.mjs"></script>
</body>
</html>